body{
    overflow-x: hidden;
}
#main{
    width: 100vw;
    height: 100vh;
}
#welcome{
    position: relative;
    width: 700px;
    height: 300px;
}
#welcome img{
    filter: grayscale(100%);
    position: absolute;
    width: 200px;
}
#welcome a{
    font-family: medio;
    position: absolute;
    top: 230px;
    text-decoration: none;
}
#pic1{
    border: 5px solid rgba(255, 255, 255, 0.334);
    z-index: 1;
    bottom: -30px;
    right: -40px;
}
#pic2{
    z-index: 0;
    bottom: -70px;
    right: 140px;
}
#content{
    position: absolute;
    left: 10px;
    width: 60%;
    color: rgb(245, 245, 245);
}
#content h1{
    font-size: 100px;
    font-family: voga;
}
#content p{
    font-size: 10px;
    font-family: medio;
}
#nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 15vh;
    position: fixed;
    margin: 40vh 0 0 750px;
}
#nav ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}
#nav li{
    cursor: pointer;
    font-family: medio;
    font-weight: bold;
    font-size: 30px;
}
#nav a{
    color: whitesmoke;
    text-decoration: none;
}
#enter{
    z-index: 2;
    position: absolute;
    bottom: 130px;
    right: 150px;
    color: #9A3B31;
    text-decoration: none;
    font-size: 200px;
    font-family: medio;
    transition: all 0.5s;
}
#enter:hover{
    color: #161616;
    transform: rotate(-10deg);
    font-size: 180px;
}
.newspaper{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: vollkorn;
    width: 400px;
    height: 250px;
    background-color: #E2C799;
}
.newspaper h1{
    font-size: 60px;
    text-align: center;
    padding: 20px 10px;
    border: 3px solid #F2ECBE;
}
.newspaper p{
    visibility: hidden;
}
.newspaper img{
    width: 100%;
    height: 70%;
    filter: grayscale(100%);
}
#bottom{
    bottom: 100px;
    left: 70px;
}
#top{
    z-index: 0;
    top: 30px;
    right: 130px;
}
#login_signup{
    width: 200px;
    z-index: 4;
    display: flex;
    align-items: center;
    position: fixed;
    margin: 52vh 0 0 87vw;
    cursor: pointer;
    font-family: medio;
    font-weight: bold;
    color: #9A3B31;
}
#login_signup a{
    color: inherit;
    text-decoration: none;
}
#about{
    position: relative;
    width: 100vw;
    height: 100vh;

}
#about h1{
    font-size: 200px;
    font-family: voga;
}
#info{
    display: flex;
    justify-content: center;
    align-items: end;
    z-index: -1;
    top: 40px;
    right: 30px;
    position: absolute;
    width: 70%;
    height: 90%;
}
#info p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 0 30px;
    width: 90%;
    min-height: 70%;
    margin-bottom: 40px;
    background-color: rgb(255, 249, 241);
    font-family: vollkorn;
}
#certificate{
    position: absolute;
    bottom: 100px;
    left: 50px;
    width: 300px;
}
#address{
    margin: 0 0 0 5vw;
    width: 90%;
    height: 80vh;
    border: 10px solid #E2C799;
}
hr{
    margin: auto;
    width: 70%;
    border: 3px solid black;
    margin-bottom: 30px;
}