body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
#container{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
#product-container{
    z-index: 3;
    position: absolute;
    top: 150px;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#product-container img{
    width: 90%;
    height: 90%;
    object-fit: cover;
}
#container a{
    margin: 20px 0 0 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: vollkorn;
    color: white;
    border-radius: 20px;
    text-decoration: none; 
    width: 180px;
    height: 50px;
    transition: all 0.3s;
}
#info a:hover{
    background-color: brown;
}
#name{
    width: 80%;
    height: 25%;
    text-align: center;
    display: inline-block;
    font-family: medio;
}
#info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 0;
    right: 270px;
    top: 100px;
    position: absolute;
    width: 300px;
    height: 400px;
    color: rgb(85, 80, 80);
    font-family: vollkorn;
    text-align: center;
}
#describe{
    width: 80%;
    height: 30%;
    font-size: 100%;
}
hr{
    margin: 0px 0 20px 0;
    width: 60%;
    border: 1px solid rgb(47, 47, 47);
}
#alert{
    width: 0px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin: 20px 0 0 40vw;
    background-color: burlywood;
    font-family: vollkorn;
    transition: all 0.2s;
}
#alert p{
    opacity: 0;
}
#pay{
    top: 190px;
}
#cart{
    top: 270px;
}
#shop{
    top: 350px;
}
#tools a{
    position: absolute;
    left: 1208px;
    border-radius: 0px 20px 20px 0;
    text-decoration: none;
    color: rgb(28, 28, 28);
    width: 50px;
    height: 70px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#tools a i{
    opacity: 0;
    width: 0;
}
#tools a:hover{
    width: 200px;
}
#tools a:hover i{
    width: fit-content;
    opacity: 0.7;
}
#more{
    z-index: -1;
    position: absolute;
    top: 230px;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 750px;
    min-height: 250px;
    font-family: vollkorn;
}
#more p{
    font-size: 110%;
    text-align:justify;
    text-align-last: center;
    width: 65%;
    padding: 20px 20px 20px 30px ;
}
#customer-payment-info{
    z-index: 5;
    margin: -500px 0 0 30vw;
    display: none;
    filter: drop-shadow(0 0 100px rgba(0, 0, 0, 0.569));
    position: fixed;
    font-family: vollkorn;
    width: 40vw;
    height: 40vh;
    background-color: beige;
}
#customer-payment-info form{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
#customer-payment-info input{
    border-radius: 10px;
    padding: 10px 20px;
    border: 2px solid rgb(183, 183, 161);
}
#customer-payment-info select{
    border: 2px solid rgb(183, 183, 161);
    padding: 10px 20px;
}
#submit{
    background-color: darkslategrey;
    color: white;
}
#cancel{
    position: absolute;
    bottom: -60px;
    left: 42%;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 20px;
    border: 2px solid rgba(0, 0, 0, 0.397);
}
#comment{
    width: 100vw;
}
#comment h2{
    font-family: athene;
    margin: 0px 0 0 70px;
    padding-top: 30px;
}
#rate{
    background-color: blanchedalmond;
    padding: 20px 0 ;
    font-family: vollkorn;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    height: 5vh;
}
#rate li{
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    width: calc(100%/4);
}
#rate li:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.827);
}
#visible-rate span{
    color: orange;
}
.checked {
    color: orange;
}
#rate-form{
    width: 32%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
}
#rate-form input{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
}
.chosen{
    color: white;
    background-color: rgba(0, 0, 0, 0.827);
}
#visible-rate{
    min-height: 30vh;
    width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: vollkorn;
}
.message{
    position: relative;
    background-color: white;
    min-width: 100px;
    min-height: 30px;
    max-width: 93%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 15px 0 20px 50px;
    padding: 10px 0;
}
.message p{
    padding:  0 10px;
}
.avt{
    position: absolute;
    top: -20px;
    left: -30px;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    border: 5px solid #ffffff;
    background-size: cover;
    background-position: center;
}
.star-container{
    filter: brightness(160%);
    width: 100px;
    position: absolute;
    top: -15px;
    left: 20px;
    font-size: 15px;
}
#inputfile {
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
#inputfile + label {
    cursor: pointer;
    display: inline-block;
}
.preview-img{
    margin: 10px 0 0 5px;
    max-width: 100px;
}
#rate-img-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.img-rate-container{
    position: relative;
    margin: -10px 0 0 55px;
}
.img-rate-container img{
    padding: 0px 5px 10px 0;
    max-width: 100px;
}