body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
#container{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
#product-container{
    z-index: 4;
    position: absolute;
    top: 150px;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#product-container img{
    width: 90%;
    height: 90%;
    object-fit: cover;
}
#container a{
    margin: 20px 0 0 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: vollkorn;
    color: white;
    border-radius: 20px;
    text-decoration: none; 
    width: 180px;
    height: 50px;
    transition: all 0.3s;
}
#info a:hover{
    background-color: brown;
}
#name{
    width: 80%;
    height: 25%;
    text-align: center;
    display: inline-block;
    font-family: medio;
    color: rgb(29, 29, 29);
}
#info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 0;
    right: 270px;
    top: 100px;
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: blanchedalmond;
    color: rgb(85, 80, 80);
    font-family: vollkorn;
    text-align: center;
}
#describe{
    width: 80%;
    height: 30%;
    font-size: 100%;
}
hr{
    margin: 0px 0 20px 0;
    width: 60%;
    border: 1px solid rgb(47, 47, 47);
}
#alert{
    width: 0px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin: 20px 0 0 40vw;
    background-color: burlywood;
    font-family: vollkorn;
    transition: all 0.2s;
}
#alert p{
    opacity: 0;
}
#cart{
    top: 270px;
}
#shop{
    top: 350px;
}
#tools a{
    position: absolute;
    left: 1208px;
    border-radius: 0px 20px 20px 0;
    text-decoration: none;
    color: rgb(28, 28, 28);
    width: 50px;
    height: 70px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#tools a i{
    opacity: 0;
    width: 0;
}
#tools a:hover{
    width: 200px;
}
#tools a:hover i{
    width: fit-content;
    opacity: 0.7;
}