#shopContainer{
    width: 80vw;
    height: 30vh;
}
#shopContainer img{
    position: absolute;
    border: 10px solid rgb(42, 42, 42);
    border-left: none;
    top: 30px;
    width: 300px;
    height: 300px;
    object-fit: cover;
}
#shopContainer p{
    position: absolute;
    top: 70px;
    left: 350px;
    font-size: 70px;
    color: wheat;
    font-family: wallington;
}
.top-square{
    position: fixed;
    width: 5vw;
}
#products-container{
    overflow: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    position: fixed;
    margin: 40vh 0 0 35vw;
    width: 60vw;
    height: 50vh;
}
.col{
    cursor: pointer;
    font-family: vollkorn;
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 12vw;
    height: 200px;
}
.col img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.col button{
    border: none;
    font-family: vollkorn;
    padding: 5px 7px;
    background-color: rgb(49, 49, 49);
    color: white;
}
#cart{
    cursor: pointer;
    position: fixed;
    margin: 37vh 0 0 33vw;
    z-index: 5;
    border-radius: 100px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#cart-quantity{
    z-index: 4;
    position: fixed;
    margin: 37vh 0 0 35vw;
    border-radius: 0 100px 100px 0;
    width: 50px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#home{
    cursor: pointer;
    color: white;
    z-index: 5;
    font-size: 30px;
    border-radius: 100px;
    position: fixed;
    margin: 45vh 0 0 33vw;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}